In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

In [5]:
import pandas as pd
import numpy as np

np.random.seed(0)

num_samples = 200

# Generate synthetic data
customer_ids = np.arange(1, num_samples + 1)
annual_income = np.random.uniform(20, 150, num_samples)  # Annual Income in thousands of dollars
spending_score = np.random.uniform(1, 100, num_samples)  # Spending Score from 1 to 100

df = pd.DataFrame({
    'CustomerID': customer_ids,
    'Annual Income (k$)': annual_income,
    'Spending Score (1-100)': spending_score
})

# Save to CSV
df.to_csv('Synthetic_Customer_Data.csv', index=False)

# Display the first few rows of the DataFrame
df.head()

   CustomerID  Annual Income (k$)  Spending Score (1-100)
0           1           91.345756               31.867792
1           2          112.974618               69.938005
2           3           98.359239               38.397432
3           4           90.834814               18.780764
4           5           75.075124                3.443194

In [7]:
print(df.isnull().sum())

df = df.dropna()

features = ['Annual Income (k$)', 'Spending Score (1-100)']  # Update according to your dataset
X = df[features]

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

CustomerID                0
Annual Income (k$)        0
Spending Score (1-100)    0
dtype: int64

In [9]:
k = 5
kmeans = KMeans(n_clusters=k, random_state=0)
clusters = kmeans.fit_predict(X_scaled)

df['Cluster'] = clusters